$enable-negative-margins: true;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #919aa1;
$gray-700: #55595c;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4bbf73;
$teal: #20c997;
$cyan: #1f9bcf;
$primary: $gray-900;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;
$yiq-contrasted-threshold: 185;
$enable-rounded: false;
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings-color: $gray-900;
$table-border-color: rgba(0, 0, 0, .05);
$btn-line-height: 1.5rem;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-y-lg: 1.5rem;
$input-btn-padding-x-lg: 2rem;
$input-line-height: 1.5;
$input-bg: $gray-200;
$input-disabled-bg: $gray-300;
$input-group-addon-bg: $gray-300;
$navbar-padding-y: 1.5rem;
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: $black;
$navbar-light-active-color: $black;
$pagination-border-color: transparent;
$pagination-hover-border-color: $pagination-border-color;
$pagination-disabled-border-color: $pagination-border-color;
$breadcrumb-bg: transparent;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$link-decoration: underline;
$link-hover-decoration: none;
$font-family-monospace: "Roboto Condensed", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$headings-font-family: $font-family-monospace;
$font-size-base: 1.01rem;
$h1-font-size: $font-size-base * 3.875;
$font-weight-base: 300;
$h2-font-size: $font-size-base * 2.625;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.4;
$display3-size: 4.375rem;
$body-color: $gray-800;
$input-btn-focus-box-shadow: none;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$input-padding-x: 1.3rem;
$navbar-dark-color: rgba($white, .7);
$h6-font-size: $font-size-base * 1.1875;
$navbar-nav-link-padding-x: 1rem;